export ENV=dev
export AWS_ACCOUNT_ID=384081048358
export AWS_ECR_REPOSITORY=${AWS_ACCOUNT_ID}.dkr.ecr.ap-northeast-1.amazonaws.com

# WSL2でload metadataが遅い対策 https://blog.e2info.co.jp/2023/02/20/internal-load-metadata-is-too-slow-on-docker-in-wsl2/
cat <<< $(jq 'del(.credsStore)' ~/.docker/config.json) > ~/.docker/config.json
